parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Html\:\:header_nocache\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: ajax/registerItemtypes.php

		-
			message: '#^Call to an undefined static method Session\:\:checkLoginUser\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: ajax/registerItemtypes.php

		-
			message: '#^Call to an undefined static method Session\:\:checkRight\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: ajax/registerItemtypes.php

		-
			message: '#^Call to static method registerAllItemtypes\(\) on an unknown class GlpiPlugin\\Assetuserhistory\\Config\.$#'
			identifier: class.notFound
			count: 1
			path: ajax/registerItemtypes.php

		-
			message: '#^Call to an undefined method HistoryTest\:\:assertArrayHasKey\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/HistoryTest.php

		-
			message: '#^Call to an undefined method HistoryTest\:\:assertSame\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/HistoryTest.php
